<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>RIBS</title>
    <link rel="stylesheet" href="/css/tailwind.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Mono:ital@0;1&family=Lora:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- TOPBAR -->
    <div class="flex place-content-between w-full">
        <div class="flex align-items-center justify-center ml-4">
            <img src="https://cdn-icons-png.flaticon.com/512/3170/3170733.png" alt="ribs" class="flex p-4 mt-2 w-20 h-20 fill-white">
        </div>
        <div class="flex align-items-center justify-center mr-4">
            <button class="p-3 m-2 hover:underline decoration-2 decoration-red-700 underline-offset-8 text-lg font-serif">RECIPES</button>
            <button class="p-3 m-2 hover:underline decoration-2 decoration-red-700 underline-offset-8 text-lg font-serif">ABOUT US</button>
        </div>
    </div>
    <div class="bg-zinc-100">
        <span class="flex align-items-center justify-center p-8 text-4xl font-serif">RIBS</span>
    </div>
</body>
</html>